<!-- ****************************Mobay**************************** -->
<h5 class="title is-5">Montego Bay, JAMAICA</h5>

<div class="columns">
  <div class="column">
    <div class="card">
	  <header class="card-header">
	    <p class="card-header-title">
	      {{vm.get_next_five_dates[0]}}
	    </p>
	  </header>
	  <div class="card-content">
	    <div class="content">
	      <img ng-src="{{vm.getIconImageUrl(vm.MobayForcast[0].icon)}}" />
	      {{vm.MobayForcast[0].main}}
	    </div>
	  </div>
	  <footer class="card-footer">
	    <span href="#" class="card-footer-item">{{vm.action(vm.MobayForcast[0].main)}}</span>
	  </footer>
	</div>
  </div>

  <div class="column">
    <div class="card">
	  <header class="card-header">
	    <p class="card-header-title">
	      {{vm.get_next_five_dates[1]}}
	    </p>
	  </header>
	  <div class="card-content">
	    <div class="content">
	     <img ng-src="{{vm.getIconImageUrl(vm.MobayForcast[1].icon)}}" />
	     {{vm.MobayForcast[1].main}}
	    </div>
	  </div>
	  <footer class="card-footer">
	    <span href="#" class="card-footer-item">{{vm.action(vm.MobayForcast[1].main)}}</span>
	  </footer>
	</div>
  </div>

  <div class="column">
    <div class="card">
	  <header class="card-header">
	    <p class="card-header-title">
	      {{vm.get_next_five_dates[2]}}
	    </p>
	  </header>
	  <div class="card-content">
	    <div class="content">
	      <img ng-src="{{vm.getIconImageUrl(vm.MobayForcast[2].icon)}}" />
	      {{vm.MobayForcast[2].main}}
	    </div>
	  </div>
	  <footer class="card-footer">
	    <span href="#" class="card-footer-item">{{vm.action(vm.MobayForcast[2].main)}}</span>
	  </footer>
	</div>
  </div>

  <div class="column">
    <div class="card">
	  <header class="card-header">
	    <p class="card-header-title">
	      {{vm.get_next_five_dates[3]}}
	    </p>
	  </header>
	  <div class="card-content">
	    <div class="content">
	      <img ng-src="{{vm.getIconImageUrl(vm.MobayForcast[3].icon)}}" />
	      {{vm.MobayForcast[3].main}}
	    </div>
	  </div>
	  <footer class="card-footer">
	    <span href="#" class="card-footer-item">{{vm.action(vm.MobayForcast[3].main)}}</span>
	  </footer>
	</div>
  </div>

  <div class="column">
    <div class="card">
	  <header class="card-header">
	    <p class="card-header-title">
	      {{vm.get_next_five_dates[4]}}
	    </p>
	  </header>
	  <div class="card-content">
	    <div class="content">
	      <img ng-src="{{vm.getIconImageUrl(vm.MobayForcast[4].icon)}}" />
	      {{vm.MobayForcast[4].main}}
	    </div>
	  </div>
	  <footer class="card-footer">
	    <span href="#" class="card-footer-item">{{vm.action(vm.MobayForcast[3].main)}}</span>
	  </footer>
	</div>
  </div>
</div>
<!-- ************************************************************** -->
